### Data Acquisition

In [2]:
# all modules

# import warnings
# import pandas as pd
# from zipfile import ZipFile

In [3]:
# global stuff

# warnings.filterwarnings('ignore')
# %matplotlib inline
# pd.set_option('display.max_rows', 13)
# pd.set_option('display.max_columns', 13)

In [4]:
# load dataset

# zip_data = ZipFile('../data/raw/vehicles.zip')
# data = pd.read_csv(zip_data.open('vehicles/vehicles.csv'))

In [5]:
# basic exploration

# print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(data.shape[0],data.shape[1]),'\n')
# print('DATAFRAME NULLS COUNT: \n{}'.format(data.isnull().sum()),'\n')
# print('DATAFRAME COLUMNS TYPE: \n{}'.format(data.dtypes,'\n'))

DATAFRAME SHAPE
 - rows: 35952
 - columns: 15

DATAFRAME NULLS COUNT:
Make                       0
Model                      0
Year                       0
Engine Displacement        0
Cylinders                  0
Transmission               0
                          ..
Fuel Barrels/Year          0
City MPG                   0
Highway MPG                0
Combined MPG               0
CO2 Emission Grams/Mile    0
Fuel Cost/Year             0
Length: 15, dtype: int64

DATAFRAME COLUMNS TYPE:
Make                        object
Model                       object
Year                         int64
Engine Displacement        float64
Cylinders                  float64
Transmission                object
                            ...
Fuel Barrels/Year          float64
City MPG                     int64
Highway MPG                  int64
Combined MPG                 int64
CO2 Emission Grams/Mile    float64
Fuel Cost/Year               int64
Length: 15, dtype: object

In [15]:
import requests
import pandas as pd
import itertools

In [4]:
#http://api.dataatwork.org/v1/jobs?offset=46296&limit=1

# ----- Get the number of jobs -----

response = requests.get('http://api.dataatwork.org/v1/jobs?offset=0&limit=1')

json_data = response.json()

number_of_jobs = int(json_data[1]['links'][3]['href'].replace('/jobs?offset=','').replace('&limit=1',''))
number_of_requests = number_of_jobs // 500
last_request = number_of_jobs % 500

In [6]:
# ----- Get jsons ----- REQUEST


response_500s = [requests.get(f'http://api.dataatwork.org/v1/jobs?offset={500 * (request-1)}&limit=500') for request in range(number_of_requests)]
response_last = requests.get(f'http://api.dataatwork.org/v1/jobs?offset={number_of_jobs - last_request}&limit=500')

In [54]:
# ----- Get jsons ----- JSONS

json_data_500s = [response.json()[:-1] for response in response_500s]
json_data_last = response_last.json()[:-1]

# ----- Flatten and join -----

json_data_500s_flat = list(itertools.chain(*json_data_500s))
json_data = json_data_500s_flat + json_data_last

jobs_df = pd.DataFrame(json_data)
jobs_df.head()

,uuid,title,normalized_job_title,parent_uuid
0,26bc4486dfd0f60b3bb0d8d64e001800,1st Grade Teacher,1st grade teacher,51cc95467c1844c7dc1d923265c023b2
1,9be6e14491305132c175cb1781a3356c,1st Pressman,1st pressman,96f1cf15fe5880d8660c70f0756944ab
2,d38d16bab3f9f25ae34ae3e2aad254d4,1st Pressman On Web Press,1st pressman on web press,96f1cf15fe5880d8660c70f0756944ab
3,8576a78b5c1cae3a567ca7fd34500357,21 Dealer,21 dealer,4be080220c824dcb435d59ebf1c3ce80
4,a59278d7f653db37e54a270345a91a05,2nd Grade Teacher,2nd grade teacher,51cc95467c1844c7dc1d923265c023b2